<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body ng-controller="MainController">

<mc-dates date-from="from" date-to="to" mc-change="onChange()"></mc-dates>

<br><br>

<div>
  <label>
    С
    <input type="date" ng-model="from">
  </label>
  <label>
    По
    <input type="date" ng-model="to">
  </label>
</div>

<script src="/main.js"></script>
</body>
</html>