<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainController">

<mc-dates from="from" to="to"></mc-dates>

<br><br>

<div>
  <label>
    С
    <input type="date" ng-model="from">
  </label>
  <label>
    По
    <input type="date" ng-model="to">
  </label>
</div>

<script src="bower_components/angular/angular.min.js"></script>

<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>

<script src="app.module.js"></script>
<script src="app.config.js"></script>
<script src="app.controller.js"></script>
<script src="mc-dates/mc-dates.module.js"></script>
<script src="mc-dates/mc-dates.component.js"></script>
</body>
</html>