<ul class="mc-dates blocks">
  <li class="mc-dates block-date-from">
    <label>
      <span>С</span><br>
      <md-datepicker
          ng-model="$ctrl.dateFrom"
          ng-change="$ctrl.change()"
          md-placeholder="Enter from date"
          md-max-date="$ctrl.dateTo"
          md-open-on-focus=""
          md-hide-icons="calendar"></md-datepicker>
    </label>
  </li>
  <li class="mc-dates block-date-to">
    <label>
      <span>По</span><br>
      <md-datepicker
          ng-model="$ctrl.dateTo"
          ng-change="$ctrl.change()"
          md-placeholder="Enter to date"
          md-min-date="$ctrl.dateFrom"
          md-open-on-focus=""
          md-hide-icons="calendar"></md-datepicker>
    </label>
  </li>
</ul>
<ul class="mc-dates presets">
  <li><a href="javascript:" ng-click="$ctrl.setYesterday()">Вчера</a></li>
  <li><a href="javascript:" ng-click="$ctrl.setToday()">Сегодня</a></li>
  <li><a href="javascript:" ng-click="$ctrl.setTwoWeeks()">2 Недели</a></li>
  <li><a href="javascript:" ng-click="$ctrl.setMonth()">Месяц</a></li>
  <li><a href="javascript:" ng-click="$ctrl.clear()">Всё</a></li>
</ul>
